.card {
  background-image: url("https://images.unsplash.com/photo-1553356084-58ef4a67b2a7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80");
  background-size: 100%;
}

.current-temp {
  margin: 100px;
  text-align: center;
}

.current-parameters {
  text-align: left;
  margin-left: 80px;
}

.current-day {
  font-size: 25px;
  text-align: right;
  margin-right: 80px;
}

.previsions {
  text-align: center;
}

.day {
  font-weight: bold;
}
